.keyword-defend {
  color: #9bf6ff;
  font-weight: 700;
}

.keyword-automate {
  color: #caffbf;
  font-weight: 700;
}

.keyword-break {
  color: #ffadad;
  font-weight: 700;
}

.keyword-build {
  color: #bdb2ff;
  font-weight: 700;
}
